<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 속성에는 사용할 인터페이스의 풀네임(패키지+인터페이스명)을 적는다 -->
<!-- 설정파일에 매퍼 등록 -->
<mapper namespace="com.study.springstudy.springmvc.chap04.mapper.BoardMapper">

    <select id="findAll" resultType="board">
        SELECT * FROM tbl_board
        <if test="type == 'title'">
            WHERE title LIKE CONCAT ('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            WHERE content LIKE CONCAT ('%', #{keyword}, '%')
        </if>
        <if test="type == 'writer'">
            WHERE writer LIKE CONCAT ('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            WHERE title LIKE CONCAT ('%', #{keyword}, '%')
                OR content LIKE CONCAT ('%', #{keyword}, '%')
        </if>
        ORDER BY board_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="findOne" resultType="board">
        SELECT * FROM tbl_board
        WHERE board_no = #{boardNo}
    </select>

    <insert id="save">
        INSERT INTO tbl_board
            (writer, title, content)
        VALUES
            (#{writer}, #{title}, #{content});
    </insert>

    <delete id="delete">
        DELETE FROM tbl_board
        WHERE board_no = #{boardNo}
    </delete>

    <update id="upViewCount">
        UPDATE tbl_board
        SET  view_count = view_count + 1
        WHERE board_no = #{boardNo}
    </update>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM tbl_board
    </select>

</mapper>